
/*Le header du site*/

  #header{
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background: linear-gradient(0.14turn, #49a85e, #8bf687);
    border-bottom: rgb(0, 0, 0) 3px solid;

    color:rgb(0, 0, 0);
    font-size: 3.5em;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;

}

@media (width < 800){
  #header{
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background: linear-gradient(0.14turn, #49a85e, #8bf687);
    border-bottom: rgb(0, 0, 0) 3px solid;

    color:rgb(0, 0, 0);
    font-size: 3.5em;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
  font-size: 2em;
  }
}
.labels {
  justify-content: space-between;
  display: flex;
}

/*Icone de paramètres*/
#toggleButton{
  float: left;
  padding-top: 15px;
  margin-bottom: auto;
  overflow: auto;
  position: relative;
}

/*Fond du site*/
body {
    background-color: #bbdefb;
    background-image: url('../images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    perspective: 750px;
    
}

/*Bouton ou l'on écrit le code postal*/
#inputCodePostal{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-top: 0px;
  border-right: 0px;
  text-align: center;
  font-size: 2em;
}

/*Resultat cliquable ou les communes apparaissent*/
#results{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-top: 0px;
  text-align: center;
  font-size: 2em;
}

/*La page pour choisir ce que l'on veut voir*/
.pageParam{
  background-color: aliceblue;
  border: 3px solid black;
  display: none;
  border-radius: 10px;
}

#imgToobo {
  max-height: 100%; /* Limite la hauteur de l'image à celle de son conteneur */
  width: auto; /* Garde les proportions de l'image en ajustant la largeur automatiquement */
  object-fit: contain; /* Conserve les proportions de l'image */
}

.speech-bubble {
	background: linear-gradient(0.14turn, #b6e6ec, #c6e4e7);
	border-radius: .4em;
  border: solid black;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.563em solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.781em;
	margin-bottom: -1.562em;
    
}

.boutonBulleToobo{
  height: 100%;
  width: 3em;
  background: linear-gradient(0.14turn, #70ca83, #8bf687);
  
}

#boutonDroite{
  width: 100% ;
}
#boutonGauche{
  width: 100%;
}
.bordureDroite{
  border-right: 3px solid rgb(0, 0, 0);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}
.bordureGauche{
  border-left: 3px solid rgb(0, 0, 0);
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.boutonBulleToobo:hover{
  background: linear-gradient(0.5turn, #70ca83, #8bf687);

}

.boutonBulleToobo:active{
  background: linear-gradient(0.14turn, #70ca83, #8bf687);
}

#divOption{
  padding: 5px;
}

.boutonBulleToobo{
  width: 30px;
}





@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}



*:not(:empty) {
  transform-style: preserve-3d;
}

.checkboxes {
  width: 100%;
  max-width: 180px;
  scale: 3;
}

.flipBox {
  position: relative;
  display: block;
  text-align: left;
  margin: 1em auto;
  cursor: pointer;
}
.flipBox:active > .flipBox_boxOuter {
  height: 25%;
}
.flipBox span {
  padding-left: 1.25em;
}
.flipBox > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: fixed;
  left: -100vmax;
  top: -100vmax;
}
.flipBox > input:checked ~ .flipBox_boxOuter {
  -webkit-animation: flipBox1 1s forwards linear;
          animation: flipBox1 1s forwards linear;
}
.flipBox > input:checked ~ .flipBox_boxOuter .flipBox_box {
  -webkit-animation: flipBox2 1s forwards ease-in-out;
          animation: flipBox2 1s forwards ease-in-out;
}
.flipBox > input:checked ~ .flipBox_shadow {
  -webkit-animation: flipBox3 1s forwards ease-in-out;
          animation: flipBox3 1s forwards ease-in-out;
}
.flipBox > input:not(:checked) ~ .flipBox_boxOuter {
  -webkit-animation: flipBox4 1s forwards linear;
          animation: flipBox4 1s forwards linear;
}
.flipBox > input:not(:checked) ~ .flipBox_boxOuter .flipBox_box {
  -webkit-animation: flipBox5 1s forwards ease-in-out;
          animation: flipBox5 1s forwards ease-in-out;
}
.flipBox > input:not(:checked) ~ .flipBox_shadow {
  -webkit-animation: flipBox6 1s forwards ease-in-out;
          animation: flipBox6 1s forwards ease-in-out;
}
.flipBox > input:disabled ~ * {
  cursor: not-allowed;
}
.flipBox > input:disabled ~ .flipBox_boxOuter {
  height: 0%;
}
.flipBox > input:disabled ~ .flipBox_boxOuter .flipBox_box > div:nth-child(6) {
  background-color: #ccc;
}
.flipBox > input:disabled ~ .flipBox_boxOuter .flipBox_box > div:nth-child(-n+5), .flipBox > input:disabled ~ .flipBox_boxOuter ~ .flipBox_shadow {
  display: none;
}
.flipBox > input:focus-visible ~ span {
  outline: 1px #000 solid;
  outline-offset: 0.25em;
}
.flipBox_boxOuter {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1em;
  height: 1em;
  transform-origin: top;
  transition: height 0.25s;
}
.flipBox_box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1em;
  height: 100%;
  transform: translate(-50%, -50%);
}
.flipBox_box > div {
  position: absolute;
  width: 1em;
  box-shadow: 0 0 0.25em #0007 inset;
}
.flipBox_box > div:nth-child(1) {
  background-image: linear-gradient(green, white);
  transform: rotateY(0deg) translateX(50%) rotateY(90deg);
  height: 100%;
}
.flipBox_box > div:nth-child(2) {
  background-image: linear-gradient(green, white);
  transform: rotateY(90deg) translateX(50%) rotateY(90deg);
  height: 100%;
}
.flipBox_box > div:nth-child(3) {
  background-image: linear-gradient(green, white);
  transform: rotateY(180deg) translateX(50%) rotateY(90deg);
  height: 100%;
}
.flipBox_box > div:nth-child(4) {
  background-image: linear-gradient(green, white);
  transform: rotateY(270deg) translateX(50%) rotateY(90deg);
  height: 100%;
}
.flipBox_box > div:nth-child(5) {
  background-color: green;
  transform: rotateX(90deg) translateY(-0.5em);
  transform-origin: top;
  height: 1em;
}
.flipBox_box > div:nth-child(5)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-clip-path: polygon(12.5% 56.25%, 25% 43.75%, 37.5% 56.25%, 75% 18.75%, 87.5% 31.25%, 37.5% 81.25%, 12.5% 56.25%);
          clip-path: polygon(12.5% 56.25%, 25% 43.75%, 37.5% 56.25%, 75% 18.75%, 87.5% 31.25%, 37.5% 81.25%, 12.5% 56.25%);
}
.flipBox_box > div:nth-child(6) {
  bottom: 0;
  background-color: white;
  transform: rotateX(90deg) translateY(0.5em);
  transform-origin: bottom;
  height: 1em;
}
.flipBox_shadow {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1em;
  height: 1em;
  transform: translateY(-50%) translateZ(-1px);
  background-color: #0007;
  filter: blur(0.2em);
}
@-webkit-keyframes flipBox1 {
  0%, 100% {
    transform: rotateX(90deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    transform: rotateX(90deg) translateY(2em);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes flipBox1 {
  0%, 100% {
    transform: rotateX(90deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    transform: rotateX(90deg) translateY(2em);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@-webkit-keyframes flipBox2 {
  from {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(180deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0deg);
  }
}
@keyframes flipBox2 {
  from {
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(180deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0deg);
  }
}
@-webkit-keyframes flipBox3 {
  0%, 100% {
    transform: translateY(-50%) translateZ(-1px) scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-50%) translateZ(-1px) scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes flipBox3 {
  0%, 100% {
    transform: translateY(-50%) translateZ(-1px) scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-50%) translateZ(-1px) scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@-webkit-keyframes flipBox4 {
  0%, 100% {
    transform: rotateX(90deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    transform: rotateX(90deg) translateY(2em);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes flipBox4 {
  0%, 100% {
    transform: rotateX(90deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    transform: rotateX(90deg) translateY(2em);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@-webkit-keyframes flipBox5 {
  from {
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(-360deg) rotateY(180deg);
  }
}
@keyframes flipBox5 {
  from {
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotateX(-360deg) rotateY(180deg);
  }
}
@-webkit-keyframes flipBox6 {
  0%, 100% {
    transform: translateY(-50%) translateZ(-1px) scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-50%) translateZ(-1px) scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}
@keyframes flipBox6 {
  0%, 100% {
    transform: translateY(-50%) translateZ(-1px) scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-50%) translateZ(-1px) scale(1.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@media (prefers-reduced-motion) {
  .flipBox_boxOuter,
.flipBox_box,
.flipBox_shadow {
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
  }

  .flipBox_boxOuter {
    transition: none;
  }
}
