
/*Le header du site*/
#header{
    background-color: #49a85e;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background: linear-gradient(0.14turn, #49a85e, #8bf687);
    border-bottom: rgb(0, 0, 0) 3px solid;

    color:rgb(0, 0, 0);
    font-size: 3.5em;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*Titre dans le header*/
#texteTitre{
  font-size: 0.7em;
  text-align: left;
}

/*Barre de défilement*/
.range-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.labels {
  justify-content: space-between;
  display: flex;
}

/*Icone de paramètres*/
#toggleButton{
  float: left;
  margin-left: 10px;
  padding-top: 15px;
  margin-bottom: auto;
  overflow: auto;
  position: relative;
}

/*Fond du site*/
body {
    background-color: #bbdefb;
    background-image: url('../images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Bouton ou l'on écrit le code postal*/
#inputCodePostal{
  height: 70px;
  width: 100%;
  margin-top: 20px;
  display: block;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-top: 0px;
  border-right: 0px;
  text-align: center;
  font-size: 2em;
}

/*Resultat cliquable ou les communes apparaissent*/
#results{
  height: 70px;
  width: 100%;
  background-color: rgb(255, 255, 255);

  border: 3px solid black;
  border-top: 0px;
  text-align: center;
  font-size: 2em;
  align-items: center;
  display:block;
}

/*La page pour choisir ce que l'on veut voir*/
.pageParam{
  background-color: aliceblue;
  border: 3px solid black;
  display: none;
  border-radius: 10px;
}

.checkboxStyle{
  height: 20px;
}

#imgToobo{
  margin-left: auto;
  margin-right: auto;    
}

.speech-bubble {
	position: relative;
	background: linear-gradient(0.14turn, #b6e6ec, #c6e4e7);
	border-radius: .4em;
    border: solid black;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.563em solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-right: 0;
	margin-left: -0.781em;
	margin-bottom: -1.562em;
    
}



.boutonBulleToobo{
  height: 100%;
  width: 3em;
  background: linear-gradient(0.14turn, #70ca83, #8bf687);
  
}
.bordureDroite{
  border-right: 3px solid rgb(0, 0, 0);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}
.bordureGauche{
  border-left: 3px solid rgb(0, 0, 0);
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.boutonBulleToobo:hover{
  background: linear-gradient(0.5turn, #70ca83, #8bf687);

}

.boutonBulleToobo:active{
  background: linear-gradient(0.14turn, #70ca83, #8bf687);
}

#divOption{
  padding: 5px;
}

.boutonBulleToobo{
  width: 30px;
}

@media (width >= 720px) {

  

  .select-bouton-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
  }
  
  .select-bouton-items:nth-child(1) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .select-bouton-items:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }


  .flex-ligne2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    padding-top: 2em;
  }
  
  .flex-itemsligne2:nth-child(1) {
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-left: 10px;
  }
  
  .flex-itemsligne2:nth-child(2) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    margin-left: 10px;
    margin-right: 10px;
    order: 0;
  }

  .flex-itemsligne2:nth-child(2) > #imgToobo {
    margin-left: 10em;
  }

  
.flex-containerToobo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
    align-items: normal;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

}

@media (width <= 720px) {

  #texteTitre{
    font-size: 0.5em;
  }
  #toggleButton{
    font-size: 30px;
  }
  
  #imgToobo{
    width: 100%;
  }

  .speech-bubble {
    background: linear-gradient(0turn, #ffffff, #c6e4e7);
    border-radius: 4px;
    border: solid black;
    width: 95%;
    margin: 0px;
  }


  .select-bouton-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  
  .select-bouton-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 4px solid black;
  }
  
  .select-bouton-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-left: 10px;
    margin-right: 10px;
  }


    .flex-container {

        display: flex;
        
        justify-content: space-evenly; 
        align-items: center; 
        /* flex-flow: column; */ 
        flex-direction: column;  
    
        height: 100%;
    
      }
    
      .flex-container > div{
        padding: 1px;
      }
    
    
      .item1 { 
        /* flex:0 1 auto; */
        flex-grow:0;
        flex-shrink:1;
      }
                
      .item2 { 
        /* flex:1 1 auto; */
        order:0;
        flex-grow:1;
        flex-shrink:1;
        align-self:center;
        
      }
                
      .item3 { 
        /* flex:0 1 auto; */
        flex-shrink:1;
      }


      .flex-ligne2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        align-content: stretch;
      }
      
      .flex-itemsligne2:nth-child(1) {
        flex-grow: 2;
        flex-shrink: 1;
        order: 1;
        align-self: center;
        width: 95%;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      
      .flex-itemsligne2:nth-child(2) {
        display: block;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 2;
        padding-left: 1em;
      }
      
}
