
/*Le header du site*/

  #header{
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background: linear-gradient(0.14turn, #49a85e, #8bf687);
    border-bottom: rgb(0, 0, 0) 3px solid;
    color:rgb(0, 0, 0);
    font-size: 2em;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;

}

img{
  max-width: 30%;
  max-height: 30%;
}

.imgContainer {
  text-align: center; /* Centre l'image dans le conteneur */
  margin-top: 10px;  /* Ajoute un espace au-dessus de l'image */
}

@media (width < 800){
  #header{
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background: linear-gradient(0.14turn, #49a85e, #8bf687);
    border-bottom: rgb(0, 0, 0) 3px solid;

    color:rgb(0, 0, 0);
    font-size: 3.5em;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
  font-size: 2em;
  }
  #inputCodePostal{
    border-right: 13px solid black;
  }
}
.labels {
  justify-content: space-between;
  display: flex;
}

/*Icone de paramètres*/
#toggleButton{
  float: left;
  padding-top: 10px;
  
  margin-right: 10px;
}

/*Fond du site*/
body {
    background-color: #bbdefb;
    background-image: url('../images/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    perspective: 750px;

    font-family: "Ubuntu", sans-serif;
    place-items: center;
    perspective: 750px;
    
}

/*Bouton ou l'on écrit le code postal*/
#inputCodePostal{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-top: 0px;
  border-right: 3px solid black;
  text-align: center;
  font-size: 2em;
}

/*Resultat cliquable ou les communes apparaissent*/
#results{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-top: 0px;
  text-align: center;
  font-size: 2em;
}

/*La page pour choisir ce que l'on veut voir*/
.pageParam{
  background-color: aliceblue;
  border: 3px solid black;
  display: none;
  border-radius: 10px;
}

#imgToobo {
  max-height: 70%; /* Limite la hauteur de l'image à celle de son conteneur */
  width: auto; /* Garde les proportions de l'image en ajustant la largeur automatiquement */
  object-fit: contain;
  display: inline-block; /* Conserve les proportions de l'image */
}

.speechBubble {
  position: relative;
  margin-bottom: 20px;
  border: 3px solid #000000;
  border-radius: 8px;
  background-color: #e2feff;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.speechBubble::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: #000000 transparent transparent;
  translate: -50% 100%;
  transform: skew(-4deg);
  transform-origin: top;
}

.speechBubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  border-style: solid;
  border-width: 12.8px 0 0 12.8px;
  border-color: #e2feff transparent transparent;
  translate: calc(-50% + 0.6px) 100%;
  transform: skew(-4deg);
  transform-origin: top;
}



.boutonBulleToobo{
  height: 100%;
  width: 3em;
  background: linear-gradient(0.14turn, #70ca83, #8bf687);
  
}

#boutonDroite{
  width: 100% ;
}
#boutonGauche{
  width: 100%;
}
.bordureDroite{
  border-right: 3px solid rgb(0, 0, 0);
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}
.bordureGauche{
  border-left: 3px solid rgb(0, 0, 0);
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.boutonBulleToobo:hover{
  background: linear-gradient(0.5turn, #70ca83, #8bf687);

}

.boutonBulleToobo:active{
  background: linear-gradient(0.14turn, #70ca83, #8bf687);
}

#divOption{
  padding: 5px;
}

.boutonBulleToobo{
  width: 30px;
}

#slider{
  width: 100%;
}


/* Styles spécifiques pour les appareils mobiles */
@media (max-width: 800px) { /* Remplacez 800px par la largeur de votre choix pour définir la version mobile */
  html, body {
    height: 100%; /* Fait en sorte que le body prenne toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
  }

  /* Conteneur principal pour qu'il s'étende */
  .container-10-15-75-col {
    min-height: 100vh; /* Assure que le conteneur principal prend au moins la hauteur de la fenêtre */
    display: flex;
    flex-direction: column; /* Permet d'organiser les enfants verticalement */
    justify-content: flex-start; /* Assure que les éléments commencent en haut */
  }

  /* S'assurer que le header et les champs de saisie sont bien espacés */
  #header {
    margin-bottom: 0; /* Ajuster selon vos besoins */
  }

  /* Suppression des marges entre le code postal et la liste */
  #inputCodePostal {
    margin-bottom: 0; /* Pas de marge inférieure */
  }

  #results {
    margin-top: 0; /* Pas de marge supérieure */
  }
  #imgToobo {
    max-width: 80%; /* Ajustez la largeur maximum de l'image pour qu'elle soit plus grande */
    height: auto; /* Maintient les proportions de l'image */
  }
}


